:root {
  --primary-color: #ffb6c1;
  --secondary-color: #ffefd5;
  --accent-color: #ffe4e1;
  --text-color: #5d4037;
  --background-color: #fff8f8;
  --yellow-accent: #ffeb99;
  --red-accent: #ffcdd2;
}
